:root {
    --primary-color: #fff;
    --secondary-color: #f4f4f4;
    --secondary-highlight-color: #e0e0e0;
    --text-color: #333;
    --text-color-light: #555;
    --text-color-disabled: #bbb;
    --border-color: #ddd;
    --border-color-primary: #aaa;
    --border-color-highlight: rgba(255, 20, 0, 0.8);

    --border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #121212;
        --secondary-color: #1e1e1e;
        --secondary-highlight-color: #2c2c2c;
        --text-color: #fff;
        --text-color-light: #bbb;
        --text-color-disabled: #555;
        --border-color: #444;
        --border-color-primary: #fff;
        --border-color-highlight: rgba(255, 20, 0, 0.5);
    }
}

/* Fix inconsistent ascent across browsers. */
@font-face {
    font-family: "Zentrierte";
    src: local("Segoe UI");
    ascent-override: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: "Segoe UI", sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
}

main {
    flex: fit-content;
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: var(--primary-color);
    /*overflow: auto;*/
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

/* MOVIE LIST*/

.movie-list {
    list-style: none;
    margin: 0;
    padding: 0 0 1em;;
}

.movie-item {
    display: flex;
    align-items: stretch;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    transition: background 0.3s;
    overflow: hidden;
}

.movie-item:hover {
    background: var(--secondary-highlight-color);
}

.movie-list-item {
    display: flex;
}

.movie-checkbox {
    display: none;
}
.movie-checkbox:checked + .movie-item {
    border: 2px solid var(--border-color-highlight);
    background-color: var(--secondary-highlight-color);
    box-shadow: 0 0 40px var(--border-color-highlight);
}

.movie-poster {
    display: flex;
    width: 15%;
}

.movie-poster img {
    display: block;
    object-fit: cover;
    width: 100%;
}

.bookmark-icon {
    display: inline-block;
    position: absolute;
    z-index: 2;
    width: 1.5em;
    height: calc(1.5em * 1.33); /* SVG is 384x512, so 1:1.33 ratio */
    margin-left: 1rem;
    margin-top: -1px;
}

.bookmarked .bookmark-icon {
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 384 512" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"> <defs id="defs1" /> <path fill="yellow" d="m 0,487.7 c 0,13.4 10.9,24.3 24.3,24.3 5,0 9.9,-1.5 14,-4.4 L 192,400 345.7,507.6 c 4.1,2.9 9,4.4 14,4.4 13.4,0 24.3,-10.9 24.3,-24.3 0,-94.30273 -0.42512,-450.469894 -0.42512,-487.07411763 -27.14396,0 -369.15292,0.15139741 -383.46387216,0.15139741 C 0.11100784,14.372557 0,370.22638 0,487.7 Z" id="path1" /> </svg>') no-repeat center;
}

.bookmark-icon:not(.bookmarked .bookmark-icon) {
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 384 512" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"> <defs id="defs1" /> <path fill="black" d="m 0,487.7 c 0,13.4 10.9,24.3 24.3,24.3 5,0 9.9,-1.5 14,-4.4 L 192,400 345.7,507.6 c 4.1,2.9 9,4.4 14,4.4 13.4,0 24.3,-10.9 24.3,-24.3 0,-94.30273 -0.42512,-450.469894 -0.42512,-487.07411763 -27.14396,0 -369.15292,0.15139741 -383.46387216,0.15139741 C 0.11100784,14.372557 0,370.22638 0,487.7 Z" id="path1" /> </svg> ') no-repeat center;
    visibility: hidden;
    opacity: 0.6;
}

.bookmark-container:hover .bookmark-icon:not(.bookmarked .bookmark-icon) {
    visibility: visible;
}

.movie-details {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0.5rem 0.5rem;
    flex: 1;
}

.movie-title-bar {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .movie-title-bar {
        flex-direction: column-reverse;
    }
}

.movie-title {
    flex: 1;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
    color: var(--text-color);
}
.movie-rating-container {
    justify-self: flex-end;
    justify-content: space-evenly;
    margin: 0;
    display: flex;
}
.movie-rating {
    display: flex;
}
.movie-rating p {
    margin: 0 0.5em 0 0.2em;
    color: var(--text-color-light);
    text-decoration: none;
}

.no-link-style {
    text-decoration: none;
}

.rating-logo {
    width: 1.2em;
    height: 1.2em;
    padding: 0.1em;
}
.tomato-icon {
    /*https://commons.wikimedia.org/wiki/File:Rotten_Tomatoes.svg*/
    background: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><!-- Created with Inkscape (http://www.inkscape.org/) --><svg id="svg3390" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns%23" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" version="1.1" xmlns:cc="http://creativecommons.org/ns%23" xmlns:dc="http://purl.org/dc/elements/1.1/"> <metadata id="metadata3396">  <rdf:RDF>   <cc:Work rdf:about="">    <dc:format>image/svg+xml</dc:format>    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>    <dc:title/>   </cc:Work>  </rdf:RDF> </metadata> <g id="layer1" fill="%23f93208">  <path id="path3412" d="m20.154 40.829c-28.149 27.622-13.657 61.011-5.734 71.931 35.254 41.954 92.792 25.339 111.89-5.9071 4.7608-8.2027 22.554-53.467-23.976-78.009z"/>  <path id="path3471" d="m39.613 39.265 4.7778-8.8607 28.406-5.0384 11.119 9.2082z"/> </g> <g id="layer2">  <path id="path3437" d="m39.436 8.5696 8.9682-5.2826 6.7569 15.479c3.7925-6.3226 13.79-16.316 24.939-4.6684-4.7281 1.2636-7.5161 3.8553-7.7397 8.4768 15.145-4.1697 31.343 3.2127 33.539 9.0911-10.951-4.314-27.695 10.377-41.771 2.334 0.009 15.045-12.617 16.636-19.902 17.076 2.077-4.996 5.591-9.994 1.474-14.987-7.618 8.171-13.874 10.668-33.17 4.668 4.876-1.679 14.843-11.39 24.448-11.425-6.775-2.467-12.29-2.087-17.814-1.475 2.917-3.961 12.149-15.197 28.625-8.476z" fill="%2302902e"/> </g></svg> ') no-repeat center;
}
.imdb-icon {
    /*https://commons.wikimedia.org/wiki/File:IMDb_Logo_Square.svg*/
    background: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><rect width="100%" height="100%" rx="8" fill="%23f5c518"/><g transform="matrix(2,0,0,2,16,46)"><polygon points="0 0 0 18 5 18 5 0"/><path d="M 15.672518,0 14.553483,8.4084693 13.858201,3.8350243 C 13.65661,2.3700926 13.463247,1.0917512 13.278113,0 H 7 v 18 h 4.241635 L 11.258091,6.1138068 13.043609,18 h 3.019748 L 17.758365,5.8517865 17.770708,18 H 22 V 0 Z"/><path d="m24 18v-18h7.804559c1.764793 0 3.195441 1.4199441 3.195441 3.1766042v11.6467918c0 1.75439-1.428338 3.176604-3.195441 3.176604zm5.832248-14.7604764c-0.198326-0.1071901-0.577732-0.1588002-1.129596-0.1588002v11.8107626c0.728633 0 1.177022-0.13101 1.345167-0.40494 0.168146-0.26996 0.254375-1.000441 0.254375-2.199382v-6.9792681c0-0.8138509-0.03018-1.3339215-0.08623-1.5641817-0.05605-0.2302603-0.18108-0.3970005-0.383717-0.5041906z"/><path d="m44.429908 4.5068582h0.31961c1.795192 0 3.250482 1.4058177 3.250482 3.1380094v7.2171234c0 1.733074-1.454818 3.138009-3.250482 3.138009h-0.31961c-1.098446 0-2.069633-0.526338-2.658038-1.331726l-0.287974 1.100504h-4.483896v-17.768778h4.784326v5.7805356c0.618172-0.7703782 1.570825-1.2736774 2.645582-1.2736774zm-1.02434 8.7773578v-4.2651379c0-0.7047386-0.04524-1.1672234-0.139493-1.3801133-0.09425-0.2128898-0.470487-0.3495732-0.734393-0.3495732s-0.670889 0.1110822-0.75006 0.2982784v7.219809c0.09048 0.205549 0.478614 0.319927 0.75006 0.319927s0.666531-0.110708 0.749473-0.319927c0.08294-0.20922 0.124413-0.719421 0.124413-1.523263z"/></g></svg>') no-repeat center;
}

.tmdb-icon {
    /*https://www.themoviedb.org/about/logos-attribution*/
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 190.24 81.52"><defs><linearGradient id="linear-gradient" y1="40.76" x2="190.24" y2="40.76" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%2390cea1"/><stop offset="0.56" stop-color="%233cbec9"/><stop offset="1" stop-color="%2300b3e5"/></linearGradient></defs><title>Asset 2</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path style="fill:url(%23linear-gradient);" d="M105.67,36.06h66.9A17.67,17.67,0,0,0,190.24,18.4h0A17.67,17.67,0,0,0,172.57.73h-66.9A17.67,17.67,0,0,0,88,18.4h0A17.67,17.67,0,0,0,105.67,36.06Zm-88,45h76.9A17.67,17.67,0,0,0,112.24,63.4h0A17.67,17.67,0,0,0,94.57,45.73H17.67A17.67,17.67,0,0,0,0,63.4H0A17.67,17.67,0,0,0,17.67,81.06ZM10.41,35.42h7.8V6.92h10.1V0H.31v6.9h10.1Zm28.1,0h7.8V8.25h.1l9,27.15h6l9.3-27.15h.1V35.4h7.8V0H66.76l-8.2,23.1h-.1L50.31,0H38.51ZM152.43,55.67a15.07,15.07,0,0,0-4.52-5.52,18.57,18.57,0,0,0-6.68-3.08,33.54,33.54,0,0,0-8.07-1h-11.7v35.4h12.75a24.58,24.58,0,0,0,7.55-1.15A19.34,19.34,0,0,0,148.11,77a16.27,16.27,0,0,0,4.37-5.5,16.91,16.91,0,0,0,1.63-7.58A18.5,18.5,0,0,0,152.43,55.67ZM145,68.6A8.8,8.8,0,0,1,142.36,72a10.7,10.7,0,0,1-4,1.82,21.57,21.57,0,0,1-5,.55h-4.05v-21h4.6a17,17,0,0,1,4.67.63,11.66,11.66,0,0,1,3.88,1.87A9.14,9.14,0,0,1,145,59a9.87,9.87,0,0,1,1,4.52A11.89,11.89,0,0,1,145,68.6Zm44.63-.13a8,8,0,0,0-1.58-2.62A8.38,8.38,0,0,0,185.63,64a10.31,10.31,0,0,0-3.17-1v-.1a9.22,9.22,0,0,0,4.42-2.82,7.43,7.43,0,0,0,1.68-5,8.42,8.42,0,0,0-1.15-4.65,8.09,8.09,0,0,0-3-2.72,12.56,12.56,0,0,0-4.18-1.3,32.84,32.84,0,0,0-4.62-.33h-13.2v35.4h14.5a22.41,22.41,0,0,0,4.72-.5,13.53,13.53,0,0,0,4.28-1.65,9.42,9.42,0,0,0,3.1-3,8.52,8.52,0,0,0,1.2-4.68A9.39,9.39,0,0,0,189.66,68.47ZM170.21,52.72h5.3a10,10,0,0,1,1.85.18,6.18,6.18,0,0,1,1.7.57,3.39,3.39,0,0,1,1.22,1.13,3.22,3.22,0,0,1,.48,1.82,3.63,3.63,0,0,1-.43,1.8,3.4,3.4,0,0,1-1.12,1.2,4.92,4.92,0,0,1-1.58.65,7.51,7.51,0,0,1-1.77.2h-5.65Zm11.72,20a3.9,3.9,0,0,1-1.22,1.3,4.64,4.64,0,0,1-1.68.7,8.18,8.18,0,0,1-1.82.2h-7v-8h5.9a15.35,15.35,0,0,1,2,.15,8.47,8.47,0,0,1,2.05.55,4,4,0,0,1,1.57,1.18,3.11,3.11,0,0,1,.63,2A3.71,3.71,0,0,1,181.93,72.72Z"/></g></g></svg>') no-repeat center;
    width: 2em;
}

.movie-year {
    font-size: 0.8rem;
    margin: 0 0 0.3rem;
    font-weight: 400;
    color: var(--text-color);
}
.movie-short-description {
    font-size: 0.9rem;
    margin: 0;
    color: var(--text-color-light);
    display: -webkit-box;
    -webkit-line-clamp: 5;   /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-short-description.expanded {
    -webkit-line-clamp: unset;
    display: block;
    overflow: visible;
    cursor: default;
}

.movie-offers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.3rem;
    max-width: 20%;
}

.offer-list {
    list-style: none;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.offer-item {
    display: block;
    align-items: center;
}
.offer-item img {
    display: block;
    vertical-align: bottom;
}

.offer-icon {
    width: 40px;
    height: auto;
    border-radius: 6px;
}

.roulette-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color-primary);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.roulette-button:hover {
    background-color: var(--secondary-highlight-color);
}

.roulette-button:disabled {
    background-color: var(--secondary-color);
    color: var(--text-color-disabled);
    border: 1px solid var(--border-color);
    cursor: not-allowed;
}

.roulette-weight {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    max-height: 1.5em;
    color: var(--text-color);
}
.roulette-weight p {
    margin: 0;
    padding: 0;
    font-family: "Zentrierte", sans-serif;
}


/*ROULETTE SLIDER*/
:root {
    --track-background-color: var(--secondary-color);
    --track-color: var(--secondary-highlight-color);
    --track-shadow-color: none;
    --thumb-color: var(--border-color);
    --thumb-outline-color: none;
}

body {
    padding-top: 2em;
}

/* Slider base styles */
.roulette-slider {
    /*display: block;*/
    display: flex;
    flex: auto;
    padding: 0.3em 0.7em;
    margin: 0.3em 0.7em;
    opacity: 1;
    border: none;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    background: none;
}

/* Webkit track */
.roulette-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.75em;
    border-radius: 0.25em;
    background: var(--track-background-color);
    box-shadow: 0 1px 1px var(--track-shadow-color);
}

/* Firefox track */
.roulette-slider::-moz-range-track {
    width: 100%;
    height: 0.75em;
    border-radius: 0.25em;
    background: var(--track-background-color);
    box-shadow: 0 1px 1px var(--track-shadow-color);
}

/* IE track */
.roulette-slider::-ms-fill-lower {
    background: var(--track-background-color);
    border-radius: 0.25em;
}

/* Thumb styles */
.roulette-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -0.25em;
    width: 0.75em;
    height: 1.25em;
    background: var(--thumb-color);
    border-radius: 10%;
    cursor: ew-resize;
    box-sizing: border-box;
}

.roulette-slider::-moz-range-thumb {
    width: 0.75em;
    height: 1.25em;
    background: var(--thumb-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: ew-resize;
    box-sizing: border-box;
}

.roulette-slider::-ms-thumb {
    width: 0.75em;
    height: 1.25em;
    background: var(--thumb-color);
    border-radius: 10%;
    cursor: ew-resize;
    box-sizing: border-box;
}

/* Remove default outline and style focus */
.roulette-slider:focus {
    outline: none;
    opacity: .99;
}

/* Remove extra appearance for all browsers */
.roulette-slider,
.roulette-slider::-webkit-slider-thumb,
.roulette-slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}
.roulette-slider::-ms-track {
    width: 100%;
    height: 0.75em;
    border-radius: 0.25em;
    background: transparent;
    border: none;
    color: transparent;
}

/* Optional: progress/active track for Firefox and IE */
.roulette-slider::-moz-range-progress {
    height: 0.75em;
    border-radius: 0.25em;
    background: var(--track-color);
}

.roulette-slider::-ms-fill-lower {
    background: var(--track-color);
}

/*.roulette-slider::-webkit-slider-container {*/
/*    !*width: 100%;*!*/
/*    !*height: 0.75em;*!*/
/*    background: var(--track-color);*/
/*}*/

/* Hide outline on focus for Firefox */
.roulette-slider::-moz-focus-outer {
    border: 0;
}
@media (max-width: 600px) {
    .roulette-slider {
        max-width: 200px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* SEARCH BAR*/
.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar form {
    display: flex;
    align-items: center;
    background-color: var();
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 0 1rem;
    width: 100%;
    max-width: 500px;
    transition: box-shadow 0.3s ease;
}

.search-bar form:focus-within {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.search-bar button {
    background: none;
    border: none;
    padding: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.search-button svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.search-button:hover {
    color: var(--text-color);
}

.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    background: transparent;
    color: var(--text-color);
}


/* NAV BAR */
nav {
    display: flex;
    flex: 0 1 220px;
    flex-direction: column;
    z-index: 100;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    border-right: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 1em;
    margin: 0;
    overflow: hidden; /* Prevent scrolling inside nav */
    position: sticky;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-list li {
    margin: 0;
    width: 100%;
}

.nav-list a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    transition: background 0.2s;
    width: 100%;
}

.nav-list a:hover {
    text-decoration: underline;
}


/* For Phones*/
.menu-button {
    display: none;
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    background: var(--secondary-color);
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    z-index: 200;
    padding: 0.5em;
    cursor: pointer;
}
.menu-button svg {
    width: 23px;
    height: 23px;
    display: block;
    padding: 1px;
}

.menu-open .menu-button {
    display: none !important;
}

@media (max-width: 600px) {
    .bookmark-icon {
        width: 3em;
        height: calc(3em * 1.33); /* Maintain aspect ratio */
    }
    .bookmark-icon:not(.bookmarked) {
        visibility: visible;
    }
    nav {
        position: fixed;
        height: 100vh;
        width: 60%;
        display: none;
        pointer-events: none;
        transition: opacity 0.2s;
    }
    nav.nav-visible, nav.nav-visible * {
        display: block !important;
        pointer-events: auto !important;
        background: var(--secondary-color);
    }

    .menu-button {
        display: block;
    }
    main {
        margin-left: 0;
        margin-top: 0;
        padding: 1rem 0.5rem;
        max-width: 100%;
    }
    .movie-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .movie-poster {
        width: 100%;
    }
    .movie-details {
        margin-top: 0.5rem;
    }
    .movie-offers {
        max-width: 100%;
        align-self: center;
        margin-bottom: 0.5em;
    }
    h1 {
        font-size: 1.2rem;
    }
    .movie-title {
        font-size: 1rem;
    }
    .movie-short-description {
        font-size: 0.85rem;
    }
    .search-bar {
        justify-content: flex-end;
    }
    .search-bar form {
        max-width: 80%;
        align-self: flex-end;
        padding: 0 0.5rem;
    }
}