:root {
    --primary-color: #fff;
    --secondary-color: #f4f4f4;
    --secondary-highlight-color: #e0e0e0;
    --text-color: #333;
    --text-color-light: #555;
    --text-color-disabled: #bbb;
    --border-color: #ddd;
    --border-color-primary: #aaa;
    --border-color-highlight: rgba(255, 20, 0, 0.8);

    --border-radius: 12px;
    --border-width: 1px;

    --movie-action-bar-offset: 3.5em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #121212;
        --secondary-color: #1e1e1e;
        --secondary-highlight-color: #2c2c2c;
        --text-color: #fff;
        --text-color-light: #bbb;
        --text-color-disabled: #555;
        --border-color: #444;
        --border-color-primary: #fff;
        --border-color-highlight: rgba(255, 20, 0, 0.5);
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: "Segoe UI", sans-serif;
}

input {
    font: inherit; /* Some browsers like to use a different font here. Avoid that. */
}

body {
    display: flex;
    min-height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    overflow: hidden;
}

main {
    --main-padding: 1em;
    margin: 0 auto;
    padding: var(--main-padding);
    background: var(--primary-color);
    overflow: auto;
    flex: auto;
    justify-content: center;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: min(60em, 85%);
}

.content:has(.movie-list) {
    width: 100%;
}


h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.sticky-action-row {
    flex-direction: row;
    display: flex;
    gap: 1em;

    position: sticky;
    top: 0;
    padding-top: var(--main-padding, 0px);
    transform: translateY(calc(-1 * var(--main-padding, 0px)));
    background: var(--primary-color);
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
}

a.external::after {
    content: "\2197";
    font-size: 0.8em;
    margin-left: 5px;
    vertical-align: top;
}


/* MOVIE LIST*/

.movie-list {
    list-style: none;
    margin: 0;
    padding: 0 0 1em;
    /*max-width: 50em;*/
}

.hidden-movie-action-bar-element {
    display: flex;
    opacity: 0.7;
}

/* Movie Action Bar: */
.movie-item:hover .hidden-movie-action-bar-element {
    display: flex;
    opacity: 1;
}

.movie-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: calc(-1 * var(--movie-action-bar-offset));
    height: 100%;
    position: absolute;
    width: var(--movie-action-bar-offset);
}

.movie-action-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.eye-button {
    /* These lines need to be only on webkit, otherwise the svg is too large, or the svg gets shifted down :/  */
    @supports (-webkit-touch-callout: none) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    width: 3em;
    height: 3em;
    padding: 0.2em;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
}

.movie-item {
    display: flex;
    width: 100%;
    position: relative;
    align-items: stretch;
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    transition: background 0.3s;
}

.movie-item:hover {
    background: var(--secondary-highlight-color);
}

.movie-list-item {
    display: flex;
    max-width: 150em;
    min-height: 10em;
}

#infinite-sentinel {
    interactivity: inert;
}

.movie-checkbox {
    display: none;
}
.movie-checkbox:checked + .movie-item {
    border: 1px solid var(--secondary-highlight-color);
    outline: 2px solid var(--border-color-highlight);
    background-color: var(--secondary-highlight-color);
    box-shadow: 0 0 40px var(--border-color-highlight);
}

.movie-poster {
    display: flex;
    width: 15%;
    /*round corners on the left*/
    --poster-clip: var(--border-radius) 0 0 var(--border-radius);
    border-radius: var(--poster-clip);
    object-fit: cover;
    position: relative;
}

.movie-poster-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: var(--secondary-highlight-color);
    border-radius: var(--poster-clip);
}

.movie-poster-placeholder svg {
    width: 50%;
    height: 50%;
    color: var(--text-color-disabled);
}

.movie-poster-img {
    border-radius: var(--poster-clip);
    display: block;
    object-fit: cover;
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: -1px;
    overflow: hidden;
}

.movie-poster[data-error="true"] .movie-poster-placeholder {
    display: flex;
}

.movie-poster[data-error="true"] .movie-poster-img {
    display: none;
}

.bookmark-icon {
    display: inline-block;
    position: absolute;
    z-index: 2;
    width: 1.5em;
    height: calc(1.5em * 720/560); /* SVG is 560x720, so maintain ratio */
    margin-left: 1rem;
    margin-top: -1px;
    color: yellow;
}

.bookmark-icon[data-checked="true"] {
    color: yellow;
}

.bookmark-icon[data-checked="false"] {
    visibility: hidden;
}

.movie-details {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0.5rem 0.5rem;
    flex: 1;
}

.movie-title-bar {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .movie-title-bar {
        flex-direction: column-reverse;
    }
}

.movie-title {
    flex: 1;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
    color: var(--text-color);
}
.movie-rating-container {
    justify-content: space-evenly;
    margin: 0;
    display: flex;
}
.movie-rating {
    display: flex;
}
.movie-rating p {
    margin: 0 0.5em 0 0.2em;
    color: var(--text-color-light);
    text-decoration: none;
}

.no-link-style {
    text-decoration: none;
}

.rating-logo {
    width: 1.4em;
    height: 1.4em;
    padding: 0.1em;
    margin: 0;
}

.tmdb-icon {
    width: 2em;
}

.movie-info-line {
    font-size: 0.8rem;
    margin: 0 0 0.3rem;
    font-weight: 400;
    color: var(--text-color);
}
.movie-short-description {
    font-size: 0.9rem;
    margin: 0;
    color: var(--text-color-light);
    display: -webkit-box;
    -webkit-line-clamp: 5;   /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movie-short-description[data-expanded="true"] {
    -webkit-line-clamp: unset;
    display: block;
    overflow: visible;
    cursor: default;
}

.movie-offers {
    display: flex;
    align-items: center;
    margin: 0.3rem;
    max-width: 20%;
}
.more-offers-box {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
.more-offers-link {
    font-size: 0.8rem;
    color: var(--text-color-light);
    border-radius: 4px;
    padding: 0.1rem 0.3rem;
}
.offer-list {
    list-style: none;
    justify-content: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.offer-item {
    display: block;
    align-items: center;
}
.offer-item img {
    display: block;
    vertical-align: bottom;
}

.offer-icon {
    width: 40px;
    height: auto;
    border-radius: 6px;
}


table, th, td {
    padding: 0.5rem;
}
table {
    /*border-collapse: collapse;*/
    width: 100%;
}

.offer-td {
    display: flex;
}

.offerType-td {
    width: 1em;
    padding: 1em 1em;
}

td, th {
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: left;
}


.watched-date {
    font-size: 1.5rem;
    margin: 0.2rem 0 0.5rem 1rem;
    color: var(--text-color);
}

/* ROULETTE */

.roulette-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color-primary);
    border-radius: 12px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    text-decoration: none;
    white-space: nowrap;
}

.roulette-button:hover {
    background-color: var(--secondary-highlight-color);
}

.roulette-button:disabled {
    background-color: var(--secondary-color);
    color: var(--text-color-disabled);
    border: 1px solid var(--border-color);
    cursor: not-allowed;
}

.roulette-weight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roulette-weight-button {
    background: transparent;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    line-height: 1;
    cursor: pointer;
    color: var(--text-color-light);
    padding: 0.5em;
    user-select: none !important;
}

.roulette-weight-input {
    -webkit-appearance: textfield;
    appearance: textfield;
    border: none;
    background: transparent;
    width: 2em;
    text-align: center;
    font-size: 2em;
}

.qr-code {
    background: white;
    margin-bottom: 1em;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 20em;
}

.qrCodePath {
    fill: black;
}

/* SEARCH BAR*/

.search-bar {
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.search-bar form {
    display: flex;
    align-items: center;
    background-color: var();
    border: 1px solid var(--border-color);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    padding: 0 1rem;
    width: 100%;
    max-width: 500px;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.search-bar form:focus-within {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--border-color-primary);
}


.search-bar button {
    background: none;
    border: none;
    padding: 0;
    margin-right: 0.5rem;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.search-button svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.search-button:hover {
    color: var(--text-color);
}

.search-bar input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    background: transparent;
    color: var(--text-color);
}


/* NAV BAR */
.navbar {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    z-index: 100;
    top: 0;
    left: 0;
    background: var(--secondary-color);
    border-right: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 1em;
    margin: 0;
    overflow: hidden; /* Prevent scrolling inside nav */
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-list li {
    margin: 0;
    width: 100%;
}

.nav-list a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    transition: background 0.2s;
    width: 100%;
}

.nav-list a:hover {
    text-decoration: underline;
}

.menu-toggle, .menu-button {
    display: none;
}

.floating-action-button {
    position: fixed;
    background: var(--secondary-color);
    border: none;
    border-radius: 20%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 200;
    padding: 0.5em;
    cursor: pointer;
    display: block;
}
.floating-action-button svg {
    fill: var(--text-color-light);
    width: 2rem;
    height: 2rem;
    display: block;
    padding: 1px;
}
.top-button {
    bottom: 3rem;
    right: 2rem;
    display: none;
}

.top-button[data-shown="true"] {
    display: block;
}

.in-bookmarked,
.in-watched {
    display: none;
}

.bookmark-scope[data-checked="true"] {
    .in-bookmarked {
        display: inline-block;
    }

    .in-not-bookmarked {
        display: none;
    }
    vertical-align: middle;
}

.watched-scope[data-checked="true"] {
    .in-watched {
        display: inline-block;
    }

    .in-not-watched {
        display: none;
    }
    vertical-align: middle;
}

/* For Phones*/
.menu-button {
    display: none;
    top: 0.5rem;
    left: 0.5rem;
}

.menu-overlay {
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 99;
    pointer-events: auto;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

/* Menu Bar Collapse */
@media (max-width: 900px) {
    .navbar {
        position: fixed;
        height: 100vh;
        background: var(--secondary-color);
        display: block;
        pointer-events: none;
        transform: translateX(-100%);
        transition: transform 0.3s cubic-bezier(.4,0,.2,1);
        opacity: 0.98;
        z-index: 100;
    }

    #menu-toggle:checked ~ .navbar {
        transform: translateX(0);
        pointer-events: auto;
        box-shadow: 2px 0 16px rgba(0,0,0,0.18);
    }

    #menu-toggle:checked ~ .menu-overlay {
        visibility: visible;
    }

    #menu-toggle:checked ~ .menu-button {
        visibility: hidden;
    }

    .menu-button {
        display: block;
    }
    main {
        margin-left: 0;
        margin-top: 0;
        padding: 0.5rem 0.5rem;
        max-width: 100%;
    }
}

/* Vertical Movie List */
@media (max-width: 600px) {
    .content {
        max-width: 100%;
    }
    .roulette-weight-container {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .bookmark-icon {
        width: 3em;
        height: calc(3em * 720/560); /* Maintain aspect ratio */
    }

    .movie-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .movie-poster {
        width: calc(100% + 2px);
        /*round corners on the top*/
        --poster-clip: var(--border-radius) var(--border-radius) 0 0;
    }

    .hidden-movie-action-bar-element {
        opacity: 1;
    }

    .movie-action-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        left: unset;
        height: unset;
        position: initial;
        width: 100%;
        margin-top: 0.5rem;
    }

    .movie-action-bar {
        flex-direction: row;
        gap: 0.5em;
        background: var(--secondary-color);
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 0.2em;
    }

    .movie-details {
        margin-top: 0.5rem;
    }
    .movie-offers {
        max-width: 100%;
        align-self: center;
        margin-bottom: 0.5em;
    }
    h1 {
        font-size: 1.2rem;
    }
    .movie-title {
        font-size: 1rem;
    }
    .movie-short-description {
        font-size: 0.85rem;
    }
    .search-bar {
        padding-top: 0;
        justify-content: flex-end;
    }
    .search-bar form {
        max-width: 80%;
        align-self: flex-end;
        padding: 0 0.5rem;
    }
}
